@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Parkinsans:wght@300..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-light: #ffffff;
    --foreground-light: #000000;
  
    --background-dark: #121212;
    --foreground-dark: #ffffff;
  }
  
  /* Optional: Add smooth transition */
  body {
    transition: background-color 0.3s, color 0.3s;
  }
  